* text=auto eol=lf

*.bat       text eol=crlf
*.cmd       text eol=crlf
*.ps1       text eol=crlf
*.sh        text eol=lf
*.py        text eol=lf
*.c         text eol=lf
*.h         text eol=lf
*.cpp       text eol=lf
*.hpp       text eol=lf
*.s         text eol=lf
*.S         text eol=lf
*.ld        text eol=lf
*.cmake     text eol=lf
CMakeLists.txt text eol=lf
*.md        text eol=lf
*.yaml      text eol=lf
*.yml       text eol=lf
*.toml      text eol=lf
*.json      text eol=lf
*.ini       text eol=lf

*.ico       binary
*.png       binary
*.jpg       binary
*.qm        binary
*.bin       binary
*.hex       binary
*.elf       binary