# OpenOCD: ST-Link v2/v3 + STM32F407.
# Используется CMake-таргетом `flash`:
#   cmake --build build/debug --target flash

source [find interface/stlink.cfg]
transport select swd
source [find target/stm32f4x.cfg]

reset_config srst_only srst_nogate
